<div >
	
	<div class="contact-container">
		<h1>Entrar em Contato</h1>
		<h3>Use os métodos abaixo para entrar em contato:</h3>
		<div class="butons-grade">
			<a mat-raised-button href="https://m.me/pgfelipefm32" rel="noopener" target="_blank"><i class="fab fa-facebook-messenger" ></i> Messenger</a>
			<a mat-raised-button href="https://t.me/felipefm32" rel="noopener" target="_blank" ><i class="fab fa-telegram"></i> Telegram</a>
			<a mat-raised-button href="mailto:contato@felipefm32.com.br" rel="noopener" target="_blank"><i class="fas fa-envelope "></i> Email</a>
		</div>
	</div>  
</div>