<div class="home-container">
	<h1><span class="bem">Bem</span>&nbsp;<span class="vindo">Vindo!</span></h1>

	<div class="conexoes">
		<ul>
			<li><a href="https://facebook.com/pgfelipefm32" target="_blank" rel="noopener"  title="Meu Facebook"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="https://twitter.com/felipefm32" target="_blank" rel="noopener" title="Meu Twiiter"><i class="fab fa-twitter"></i></a></li>
			<!--<li><a href="https://instagram.com/felipefm32" target="_blank" rel="noopener"  title="Meu Instagran"><i class="fab fa-instagram"></i> </a></li>-->
			<!--<li><a href="https://br.linkedin.com/in/felipefm32" target="_blank" rel="noopener" title="Meu linkedin"><i class="fab fa-linkedin"></i>  </a></li>-->
			<li><a href="https://github.com/felipefm32" target="_blank" rel="noopener"  title="Meu Github"><i class="fab fa-github"></i> </a></li>
		</ul>
	</div>
	
	<a mat-button  class="hireme" routerLink="/cv" color="warn" >Contrate-me</a>
</div>