

<div class="curriculo-container">
<h2>Conhecimentos</h2>
<mat-list>
	<mat-list-item>
		<i matListIcon class="fab fa-html5"></i>
		<h3 matLine>Html5</h3>
		<p matLine>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class=""></span>
		</p>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<i matListIcon class="fab fa-js-square"></i>
		<h3 matLine>JavaScript</h3>
		<p matLine>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class=""></span>
		</p>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<i matListIcon class="fab fa-php"></i>
		<h3 matLine>PHP</h3>
		<p matLine>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class="full-green"></span>
			<span class=""></span>
		</p>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<i matListIcon class="fab fa-node-js"></i>
		<h3 matLine>Node.js</h3>
		<p matLine>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
		</p>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<i matListIcon class="fab fa-laravel"></i>
		<h3 matLine>Laravel</h3>
		<p matLine>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
		</p>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<i matListIcon class="fab fa-angular"></i>
		<h3 matLine>Angular</h3>
		<p matLine>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class="full-yellow"></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
		</p>
	</mat-list-item>
	<mat-list-item>
		<i matListIcon class="fab fa-vuejs"></i>
		<h3 matLine>Vue.js</h3>
		<p matLine>
			<span class="full-amber"></span>
			<span class="full-amber"></span>
			<span class="full-amber"></span>
			<span class="full-amber"></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
		</p>
	</mat-list-item>
</mat-list>
<h2>Cursos</h2>
<mat-list>
  <mat-list-item>
    <img matListAvatar src="/assets/images/logo-fisk.png" alt="Logo Fisk"/>
    <h3 matLine> Curso de Inglês - Nivel Intermediario </h3>
    <p matLine>
      <a href="https://fisk.com.br"  rel="noopener"  target="_blank">Fisk Santa Cruz da Serra</a>
    </p>
  </mat-list-item>
  <mat-list-item>
   <img matListAvatar src="/assets/images/logo-ciob.png" alt="Logo Ciob">
    <h3 matLine>Técnico em informatica </h3>
    <p matLine>
       <a href="http://colegiociob.com.br" rel="noopener"  target="_blank">Centro de Integranção Objetivo</a>
    </p>
  </mat-list-item>
</mat-list>
<h2>Portifólio/Contribuições</h2>
<mat-list>
  <mat-list-item>
    <h3 matLine>Dominó</h3>
    <p matLine>
       <a href="http://domino.felipefm32.com" rel="noopener"  target="_blank">https://domino.felipefm32.com</a>
    </p>
  </mat-list-item>
</mat-list>

</div>