<div class="error">
	<h1><img src="assets/images/emoji_eyes.gif" alt="Oo" width="60" alt="OO" />ps! Are you lost?</h1>
	<p>The page you were trying to reach doesn't exist.</p>
	<p><a title="Ir para Pagina Inicial" mat-button routerLink="/">Home</a><a title="Ir para o Blog" mat-button  href="https://microblog.felipefm32.com">MicroBlog</a><a title="Ir para o Microblog" mat-button  href="https://blog.felipefm32.com">Blog</a> </p>
	<h3><img src="assets/images/logo.png" alt="Logo felipefm32" width="150" title="logo"></h3>
</div>